@keyframes fallingConfetti {
    0% { transform: translateY(0) rotate(0deg); opacity: 1; }
    100% { transform: translateY(80vh) rotate(720deg); opacity: 0; }
  }
  
  .confetti {
    position: absolute;
    width: 13px;
    height: 10px;
    top: -10px;
    z-index: 2;
    animation: fallingConfetti 5s linear infinite;
    pointer-events: none;
  }
  
  .confetti:nth-child(2n) {
    background-color: rgba(255, 223, 0, 0.8); 
  }
  
  .confetti:nth-child(2n-1) {
    background-color: rgba(255, 105, 180, 0.8); 
  }
  
  .confetti:nth-child(3n) {
    background-color: rgba(0, 191, 255, 0.8); 
  }
  
  .confetti:nth-child(4n) {
    background-color: rgba(50, 205, 50, 0.8);
  }
  