.page-sub-menu {
    background-color: #f9f9f9;
    text-align: center;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 20px 0;
    top:-80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 30px;
}

.page-sub-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.page-sub-menu li {
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    position: relative;
    z-index: 50;
}

.page-sub-menu li.active {
    color: rgb(143, 137, 137);
    background-color: transparent;
}

.page-sub-menu li:hover {
    background: #bbbbbb;
    transition: transform .3s ease;
}

/*.page-sub-menu li::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #bbbbbb;
    z-index: 50;
    transition: transform .3s ease;
  }*/


.underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: black;
    transition: left 0.3s ease, width 0.3s ease;
}