:root{
  --Login-page-form-height: 550px;
  --Login-page-form-width: 900px;
  --Login-page-left-color: #9fdeaf;
  --Login-page-right-color: #96dbe2;
}

.Login-page-container1 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0.5px;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  position: relative;
  margin-top: -80px;
}


.Login-page-container1 .Login-page-container2 {
  width: var(--Login-page-form-width);
  height: var(--Login-page-form-height);
  position: relative;
  margin: auto;
  box-shadow: 2px 10px 40px rgba(22,20,19,0.4);
  border-radius: 10px;
  margin-top: 50px;
  background-color: white;
}

.Login-page-container1 .Login-page-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-image: linear-gradient(to right, var(--Login-page-left-color), var(--Login-page-right-color));
  border-radius: 10px;
  color: white;
  clip: rect(0, 385px, var(--Login-page-form-height), 0);
}

.Login-page-container1 .Login-page-open-sign-up {
  animation: Login-page-slideleft 1s linear forwards;
}

.Login-page-container1 .Login-page-open-sign-in {
  animation: Login-page-slideright 1s linear forwards;
}

.Login-page-container1 .Login-page-overlay .Login-page-sign-in, .Login-page-overlay .Login-page-sign-up {
  --Login-page-padding: 50px;
  width: calc(385px - var(--Login-page-padding) * 2);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px var(--Login-page-padding);
  text-align: center;
}

.Login-page-container1 .Login-page-overlay .Login-page-sign-in {
  float: left;
}

.Login-page-container1 .Login-page-overlay-text-left-animation {
  animation: Login-page-text-slide-in-left 1s linear;
}

.Login-page-container1 .Login-page-overlay-text-left-animation-out {
  animation: Login-page-text-slide-out-left 1s linear;
}

.Login-page-container1 .Login-page-overlay .Login-page-sign-up {
  float: right;
}

.Login-page-overlay-text-right-animation {
  animation: Login-page-text-slide-in-right 1s linear;
}

.Login-page-overlay-text-right-animation-out {
  animation: Login-page-text-slide-out-right 1s linear;
}

.Login-page-overlay h1 {
  margin: 0px 5px;
  font-size: 2.1rem;
}

.Login-page-overlay p {
  margin: 20px 0px 30px;
  font-weight: 200;
}

.Login-page-switch-button, .Login-page-control-button {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  height: 40px;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  border-radius: 20px;
  color: white;
}

.Login-page-switch-button {
  border: 2px solid;
}

.Login-page-control-button {
  border: none;
  margin-top: 15px;
}

.Login-page-switch-button:focus, .Login-page-control-button:focus {
  outline: none;
}

.Login-page-control-button.Login-page-up {
  background-color: var(--Login-page-left-color);
}

.Login-page-control-button.Login-page-in {
  background-color: var(--Login-page-right-color);
}

.Login-page-form {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
}

.Login-page-form .Login-page-sign-in, .Login-page-form .Login-page-sign-up {
  --Login-page-padding: 50px;
  position: absolute;
  width: calc(var(--Login-page-form-width) - 385px - var(--Login-page-padding) * 2);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px var(--Login-page-padding);
  text-align: center;
}

.Login-page-form .Login-page-sign-in {
  display: none;
}

.Login-page-form .Login-page-sign-in {
  left: 0;
}

.Login-page-form .Login-page-sign-up {
  right: 0;
}

.Login-page-form-right-slide-in {
  animation: Login-page-form-slide-in-right 1s;
}

.Login-page-form-right-slide-out {
  animation: Login-page-form-slide-out-right 1s;
}

.Login-page-form-left-slide-in {
  animation: Login-page-form-slide-in-left 1s;
}

.Login-page-form-left-slide-out {
  animation: Login-page-form-slide-out-left 1s;
}

.Login-page-form .Login-page-sign-in h1 {
  color: var(--Login-page-right-color);
  margin: 0;
}

.Login-page-form .Login-page-sign-up h1 {
  color: var(--Login-page-left-color);
  margin: 0;
}

.Login-page-social-media-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px;
}

.Login-page-social-media-buttons .Login-page-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #dadada;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 7px;
}

.Login-page-small {
  font-size: 13px;
  color: grey;
  font-weight: 200;
  margin: 5px;
}

.Login-page-social-media-buttons .Login-page-icon svg {
  width: 25px;
  height: 25px;
}

#Login-page-sign-in-form input, #Login-page-sign-up-form input {
  margin: 12px;
  font-size: 14px;
  padding: 15px;
  width: 260px;
  font-weight: 300;
  border: none;
  background-color: #e4e4e494;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 1.5px;
  padding-left: 20px;
}

#Login-page-sign-in-form input::placeholder {
  letter-spacing: 1px;
}

.Login-page-forgot-password {
  font-size: 12px;
  display: inline-block;
  border-bottom: 2px solid #efebeb;
  padding-bottom: 3px;
}

.Login-page-forgot-password:hover {
  cursor: pointer;
}

@keyframes Login-page-slideright {
  0% {
    clip: rect(0, 385px, var(--Login-page-form-height), 0);
  }
  30% {
    clip: rect(0, 480px, var(--Login-page-form-height), 0);
  }
  50% {
    clip: rect(0px, calc(var(--Login-page-form-width) / 2 + 480px / 2), var(--Login-page-form-height), calc(var(--Login-page-form-width) / 2 - 480px / 2));
  }
  80% {
    clip: rect(0px, var(--Login-page-form-width), var(--Login-page-form-height), calc(var(--Login-page-form-width) - 480px));
  }
  100% {
    clip: rect(0px, var(--Login-page-form-width), var(--Login-page-form-height), calc(var(--Login-page-form-width) - 385px));
  }
}

@keyframes Login-page-slideleft {
  100% {
    clip: rect(0, 385px, var(--Login-page-form-height), 0);
  }
  70% {
    clip: rect(0, 480px, var(--Login-page-form-height), 0);
  }
  50% {
    clip: rect(0px, calc(var(--Login-page-form-width) / 2 + 480px / 2), var(--Login-page-form-height), calc(var(--Login-page-form-width) / 2 - 480px / 2));
  }
  30% {
    clip: rect(0px, var(--Login-page-form-width), var(--Login-page-form-height), calc(var(--Login-page-form-width) - 480px));
  }
  0% {
    clip: rect(0px, var(--Login-page-form-width), var(--Login-page-form-height), calc(var(--Login-page-form-width) - 385px));
  }
}

@keyframes Login-page-text-slide-in-left {
  0% {
    padding-left: 20px;
  }
  100% {
    padding-left: 50px;
  }
}

@keyframes Login-page-text-slide-in-right {
  0% {
    padding-right: 20px;
  }
  100% {
    padding-right: 50px;
  }
}

@keyframes Login-page-text-slide-out-left {
  0% {
    padding-left: 50px;
  }
  100% {
    padding-left: 20px;
  }
}

@keyframes Login-page-text-slide-out-right {
  0% {
    padding-right: 50px;
  }
  100% {
    padding-right: 20px;
  }
}

@keyframes Login-page-form-slide-in-right {
  0% {
    padding-right: 100px;
  }
  100% {
    padding-right: 50px;
  }
}

@keyframes Login-page-form-slide-in-left {
  0% {
    padding-left: 100px;
  }
  100% {
    padding-left: 50px;
  }
}

@keyframes Login-page-form-slide-out-right {
  0% {
    padding-right: 50px;
  }
  100% {
    padding-right: 80px;
  }
}

@keyframes Login-page-form-slide-out-left {
  0% {
    padding-left: 50px;
  }
  100% {
    padding-left: 80px;
  }
}
