.post-form-container .post-form-title {
    color: white;
    position: absolute;
    left: 80px;
    top: 200px;
    font-size: 30px;
    text-shadow: 
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000, 
     1px  1px 0 #000,
     0 0 1px #fff,
     0 0 3px #fff,
     0 0 3px #fff;
}

.banner{
    background-color: blue;
    background-image: url("");
    background-repeat: no-repeat; /* 이미지 반복 제거 */
    background-size: cover; /* 요소 전체에 맞추어 이미지 크기 조정 */
    background-position: center;
    color: white;
    height: 310px;
    position: relative;
    top:-82px;

}

.title-category-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.title-category-container label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.title-label {
    flex: 70%;
}

.category-label {
    flex: 30%;
}

.post-form-container input[type="text"],
.post-form-container select {
    padding: 8px;
}

.editor-controls {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px; /* 간격을 줄여서 버튼들이 붙어있게 만듭니다 */
    margin-bottom: 20px;
    align-items: center;
}

.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.icon-button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.submit-button,
.list-button {
    height: 50px;
    background-color: #454545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.submit-button:hover,
.post-form-container .list-button:hover {
    background-color: #898989;
}

.content-editable {
    min-height: 500px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}


.post-form-container1{
    max-width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: hsl(0, 0%, 98%);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.post-form-sub-menu {
    background-color: #f9f9f9;
    text-align: center;
    border-bottom: 1px solid #ddd;
    position: relative;
    top:-82px;
    padding-top:20px;
    padding-bottom:20px;
}

.post-form-sub-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.post-form-sub-menu li {
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
  position: relative;
}

.post-form-sub-menu li.active {
  color: #000;
}

.post-form-sub-menu li:hover {
  color: #555;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100px; /* 각 항목 너비에 맞게 설정 */
  background-color: black;
  transition: left 0.3s ease;
}
