.PageView-container {
  width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.PageView-post-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.PageView-post-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.PageView-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid black; /* 테두리 색상 및 두께 */
}

.PageView-author, .PageView-date, .PageView-views, .PageView-likes {
  margin-right: 20px;
  font-size: 0.9rem;
  color: #666;
}

.PageView-author {
  font-weight: bold; /* 글씨 굵게 */
  font-size: 1.1rem; /* 약간 더 큰 폰트 크기 */
  color: #333; /* 강조 색상 */
}

.PageView-container .PageView-post-content {
  font-size: 1.1rem;
  min-height:100%;
  line-height: 1.6;
  color: #333;
  margin-bottom: 30px;
}

.PageView-actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.PageView-comment-button {
  position: relative;
  top:5px;
  left:40px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #4CAF50; /* 버튼 배경색 */
  border: none;
  border-radius: 10px; /* 둥근 모서리 */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* 애니메이션 효과 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 */
  z-index:0;
}

.postview-but-a:hover {
  background-color: #4CAF50; /* 호버 시 배경색 */
  color: #ffffff; /* 호버 시 글자 색상 */
  transform: translateY(-2px); /* 살짝 위로 이동 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 호버 시 그림자 효과 */
}

.PageView-comment-button2 {
  position: relative;
  top:-100px;
  left:650px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background-color: #F0F0F0;
  border: none;
  border-radius: 10px; /* 둥근 모서리 */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* 애니메이션 효과 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 */
  z-index:0;
}

.PageView-comment-button3 {
  position: relative;
  top:-100px;
  left:790px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background-color: #F0F0F0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index:0;
}

.PageView-comment-button:hover {
  background-color: #45A049; /* 호버 시 배경색 */
  transform: translateY(-2px); /* 살짝 위로 이동 */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* 호버 시 그림자 강화 */
}

.PageView-comment-button2:hover {
  background-color: #fffff;
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.PageView-comment-button3:hover {
  background-color: #fffff; /* 호버 시 배경색 */
  transform: translateY(-2px); /* 살짝 위로 이동 */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* 호버 시 그림자 강화 */
}

.PageView-comment-button:active {
  background-color: #3E8E41; /* 클릭 시 배경색 */
  transform: translateY(1px); /* 클릭 시 약간 내려오기 */
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1); /* 클릭 시 그림자 축소 */
}

.PageView-comments-section {
  margin-top: 40px;
}

.PageView-comment-input textarea,
.PageView-reply-input textarea {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}

.PageView-comment-input{
    display:flex;
}

.PageView-comment {
  display: flex;
  flex-direction: column; /* 댓글과 버튼을 세로로 배치 */
}

.PageView-comment-profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.PageView-comment-content, .PageView-reply-content {
  flex-grow: 1;
}

.PageView-comment-author {
  font-weight: bold;
}

.PageView-comment-date {
  font-size: 0.8rem;
  color: #888;
  position: absolute;
  right: 0;
  top: 0;
}

.PageView-reply {
  display: flex;
  align-items: flex-start;
  margin-left: 55px; /* 원문 댓글에서 왼쪽으로 들여쓰기 */
  border-left: 2px solid #ddd;
  padding-left: 10px;
  margin-top: 10px;
  width: 100%; /* 대댓글의 너비를 부모와 맞추기 위해 너비 100% 설정 */
}
.PageView-comment-buttons {
  display: flex;
  gap: 10px; /* 버튼 간격 설정 */
  margin-left: auto; /* 버튼을 오른쪽 정렬 */
}

.PageView-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.PageView-comment-content {
  flex-grow: 1;
}
.post-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px auto;
  margin-top: 50px;
  width: 80%;
  background-color: #fff;
  color: #000;
}

.post-container .content-container {
  min-height: 500px;
  border-bottom: 1px solid #ccc;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.button-container {
  display: flex;
}

.post-info {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.post-info .left-info {
  display: flex;
  align-items: center;
}

.post-info .info-item {
  padding: 0 10px;
}

.post-info .vertical-line {
  border-left: 1px solid #ccc;
  height: 15px;
  margin: 0 10px;
}

.post-info .right-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.author-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comments {
  margin-top: 20px;
}

.comment {
  border-top: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.comment-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-info {
  display: flex;
  align-items: center;
}

.author-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-right {
  display: flex;
  align-items: center;
}

.comment-right p {
  margin-right: 10px;
  text-align: right;
}

.comment p {
  margin: 5px 0;
}

.report-button2 {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}

.report-button2:hover {
  background-color: #0056b3;
}

/* 새로운 스타일 추가 */
.comment-input {
  margin-top: 20px;
}

.comment-input textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.comment-input button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-input button:hover {
  background-color: #0056b3;
}

/* 모달 스타일 */
.PageView-container .modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* 배경 어둡게 */
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}


.report-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-modal-content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  width: 40%;
  max-width: 500px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  animation: scaleUp 0.3s ease; /* 등장 애니메이션 */
  text-align: center;
}

.report-modal h3 {
  margin-bottom: 20px;
  font-size: 1.4rem;
  color: #333;
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.report-modal textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}

.report-modal-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0 5px;
}

.report-modal-button:hover {
  background-color: #45A049;
  transform: translateY(-2px); /* 호버 시 약간 위로 */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* 호버 시 그림자 강화 */
}

.report-modal-button.cancel {
  background-color: #f0f0f0;
  color: #333;
}

.close-report-modal {
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: color 0.3s ease;
}

.close-report-modal:hover {
  color: #333;
}

.report-modal-button.cancel:hover {
  background-color: #ddd;
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
}



.post-reactions, .comment-reactions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.post-reactions button, .comment-reactions button {
  margin-left: 10px;
  padding: 5px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.post-reactions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-reactions button {
  width:80px;
  height:80px;
  margin-right: 10px;
  margin-top: 40px;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 50%;
  z-index:0;
}

.comment-reactions {
  display: flex;
  justify-content: flex-end;
}

.comment-reactions button {
  margin-left: 10px;
  padding: 5px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  position: relative;
}

.PageView-post-info2 {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    gap: 10px; /* 필요한 경우 간격 추가 */
}

.PageView-container .bookmark-button-con {
    position: relative;
    top: -125px;
    right: -820px;

}

.PageView-post-info{
    position: relative;
    top: -70px;
}

.comment-reactions-button{
      display: flex;
      margin-left:100px;
      align-items: center;
      gap: -50px;

}

.comment-reactions-button button {
  margin-left: -40px; /* 버튼 간격을 음수로 줄이기 */
  padding: 5px;
  font-weight: bold;
  color: black;
  background-color: #F0F0F0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index:0;
}

.comment-item {
  padding: 10px;
  margin-bottom: 10px;
}

.PostView-comment-author-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  margin-right: 10px;
}

.PostView-comment-author-info {
  display: flex;
  align-items: center;
  margin-bottom: -22px;
}
.PostView-comment-date {
  font-size: 0.9rem;
  color: #888;
  margin-left: 1px;
}
.PostView-comment-content {
  margin-left: 65px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.PostView-comment-nickname{
  font-weight: bold;
  color: #333;
  margin-right: 10px;
}

.PageView-comment-separator {
  border: none;
  border-top: 2px solid #DDDDDD; /* 원하는 색상과 두께로 설정 */
  margin-bottom: 10px; /* 간격 조정 */
}

.PostView-comment-userid{
    font-size: 100px;
}