.post-form-container{
    background-color: #F0F2F5;
    height:100%;
}

.title-category-container {
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    gap:15px;
}

.post-form-container input[type="text1"] {
    padding: 20px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    padding-right: 30px;
    width: 95%;
    width: 113vh

}

.post-form-container select {
    padding: 20px;
    font-size: 16px;
    text-align:center;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    z-index: 1;
    padding-right: 30px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/32/32195.png');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.Postform-sel-1 {
    width:200px;
    height: 60px;
}

.Postform-sel-2 {
    width: 300px;
    height: 80px;
}

.Postform-sel-3 {
    width: 80px;
    height: 80px;
}

.editor-controls {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: flex-start;
}


.PostForm-icon-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}


.post-form-container .PostForm-icon-button:hover {
    background-color:gray;
}

.post-form-container .PostForm-icon-button img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.post-form-container .PostForm-icon-button{
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button,
.list-button {
    height: 50px;
    background-color: #454545;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: flex-end;

}

.submit-button:hover,
.post-form-container .list-button:hover {
    background-color: #898989;
}

.content-editable {
    min-height: 500px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-bottom:20px;
}

.post-form-container1 {
    width: 70%;
    position:relative;
    top:-50px;
    margin: auto;
    padding: 20px;
    padding-bottom: 70px;
    background-color: hsl(0, 0%, 98%);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(150, 71, 71, 0.1);
    margin-top: 0;
}

.content-editable img {
    max-width: 100%;
    height: auto;
}

.PostForm-postandcancelbutton-container {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
}

.PostForm-icon-button.active {
    background-color: #d0d0d0;
    border: 1px solid #898989;
}

