.Profile-Management-container1 .Profile-Management-container2 {
    width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position:relative;
    top:-50px;
}

.Profile-Management-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Profile-Management-section2 {
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.Profile-Management-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile-Management-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    max-height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    overflow-y: auto;
}

.Profile-Management-blocked-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.Profile-Management-blocked-item {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #f1f1f1;
    border-radius: 5px;
    gap: 10px;
}

.Profile-Management-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.Profile-Management-modal-content input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.Profile-Management-section h3 {
    white-space: nowrap;
    margin-right: 30px;
    min-width: 100px;
    text-align: left;
}

.Profile-Management-input-area {
    width: 70%;
    height: 45px;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: white;
    color: #333;
    margin-right: 20px;
    transition: border-color 0.3s ease;
}

.Profile-Management-input-area:focus {
    border-color: #007bff;
    outline: none;
}

.notification-toggle {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.notification-toggle span {
    min-width: 100px; /* 라벨의 최소 너비를 설정하여 일정한 위치에 정렬 */
}

.butest{
    display:flex;
    position:relative;
}

.Block-modal-button-container{
    display:flex;
    margin-top:30px;
}