.store-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9; /* 배경색 추가로 아이템이 더 돋보이게 함 */
  color: #333; /* 더 어두운 텍스트 색상으로 가독성 향상 */
}

.store-container2{
  width: 60%;
  margin: 0 auto;
  position: relative;
  top:-150px;
}

.store-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.store-search {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

.store-search input[type="text"] {
  width: 200px; 
  padding: 8px;
  margin-right: 10px;
}


.store-points {
  font-weight: bold;
  font-size: 16px;

}

.image-slider {
  border: 1px solid black;
  overflow: hidden; 
  margin-bottom: 20px;
}

.image-slider img {
  width: 100%;
  height: 350px;
  object-fit: cover; /* 이미지 비율을 유지하면서 슬라이더 영역을 꽉 채움 */
}

.menu-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu-tabs button {
  width: 100px;
  height: 30px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.item-sale {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
}

.item-sale .aa {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.item-sale .aa button {
  background-color: #28a745;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.store-container h2{
  color:#fff;
  font-size: 30px;
}


