.store-container {
  width: 100%;
}

.store-container2{
  width: 60%;
  margin: 0 auto;
  position: relative; 
  top:-150px;
}

.store-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.store-search {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

.store-search input[type="text"] {
  width: 200px; 
  padding: 8px;
  margin-right: 10px;
}

.store-points {
  font-weight: bold;
  font-size: 0px;
}

.image-slider {
  border: 1px solid black;
  overflow: hidden; 
  margin-bottom: 20px;
}

.image-slider img {
  width: 100%;
  height: 550px;
  object-fit: cover; /* 이미지 비율을 유지하면서 슬라이더 영역을 꽉 채움 */
}


.menu-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu-tabs button {
  width: 100px;
  height: 30px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.item-sale {
  display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 20px;
}

.item-sale .aa {
  background-color: #fff;
  background-image: url("https://img.freepik.com/premium-vector/white-grey-gradient-background-empty-room-studio_137206-40.jpg");
  border: 1px solid #000;
  padding: 20px;
  width: 100px;
  height: 100px;
}

.store-container h2{
  color:#fff;
  font-size: 30px;
}

.image-slider {
  border: 1px solid black;
  overflow: hidden; 
  margin-bottom: 20px;
  position: relative;
}

.image-slider img {
  width: 100%;
  max-height: 550px;
  object-fit: cover;
}

.item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 10px auto; /* 상하 10px 여백과 수평 가운데 정렬 */
  display: block; /* 블록 요소로 설정하여 가운데 정렬 적용 */
}

.item-sale p {
  font-size: 14px;
  margin: 0;
  color: #333;
}